.tix-js {
	.tix_tickets_table {
		th {
			padding: 5px 20px;
		}

		thead {
			th {
				background-color: $color_fondo_lila;
				font-weight: bold;
				color: $color_pure-white;
			}
		}

		tbody {
			.tix-ticket-title {
				font-weight: bold;
			}

			th,
			td {
				border: 1px solid $color_gris_casi_blanco;
				text-align: center;
			}

			.tix-column-price,
			.tix-column-remaining {
				font-weight: bold;
			}

			.tix-column-quantity {
				input {
					padding: 14px 7px;
				}
			}
		}
	}

	input[type='submit'] {
		@include boton();
	}
}
