.tix-js {
	.tix_tickets_table {
		th {
			padding: 5px 20px;
		}

		thead {
			th {
				background-color: $color_fondo_lila;
				font-weight: bold;
				color: $color_pure-white;
			}
		}

		tbody {
			.tix-ticket-title {
				font-weight: bold;
			}

			th {
				border: 1px solid $color_gris_casi_blanco;
			}
		}
	}

	input[type='submit'] {
		@include boton();
	}
}
