body{
	font-family: "Open Sans", sans-serif;

	.is-layout-constrained{
		& > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
			max-width: 1000px;
		}
	}

	.googlemaps{
		iframe {
			width: 100%;
		}
	}

}
