#tix-attendees {
	.tix-attendee-list {
		@include for-mobile-big {
			grid-template-columns: auto auto;
		}

		@include for-mobile-mini {
			grid-template-columns: auto;
		}

		display: grid;
		grid-template-columns: auto auto auto;
		gap: 1rem;

		padding-left: 5px;

		li {
			display: flex;
			align-items: center;
			width: initial;
			float: initial;
			height: initial;

			.avatar {
				width: 90px;
				height: 90px;
				border-radius: 100%;
				margin-right: 1rem;
				border: 2px solid $color_fondo_lila;
			}

			.tix-attendee-name {
				margin-left: 0;
				font-size: 16px;
				font-weight: 600;
			}
		}


	}

}
