#tix-attendees {
	.tix-attendee-list {
		@include for-mobile-big {
			grid-template-columns: auto auto;
		}

		@include for-mobile-mini {
			grid-template-columns: auto;
		}

		display: grid;
		grid-template-columns: auto auto auto;
		gap: 1rem;

		padding-left: 5px;

		li {
			display: flex;
			align-items: center;
			width: initial;
			float: initial;
			height: initial;

			.avatar {
				width: 90px;
				height: 90px;
				border-radius: 100%;
				margin-right: 1rem;
				border: 2px solid $color_fondo_lila;
			}

			.tix-attendee-name {
				margin-left: 0;
				font-size: 16px;
				font-weight: 600;
			}

			.tix-cual-es-tu-usuario-de-twitter-es-por-si-quieres-que-aparezca-en-la-acreditacion-el-nuestro-es-pontewordcamp::before {
				content: '';
				display: inline-block;
				font-size: 1rem;
				margin-right: .3rem;
				width: 20px;
				height: 20px;
				background-image: url('https://pontevedra.wordcamp.org/2023/files/2023/09/x.png');
				background-size: contain;
				vertical-align: middle;
			}
		}


	}

}
