#tix-attendees {
	.tix-attendee-list {
		columns: 3;
		column-gap: 1em;

		li {
			display: flex;
			width: initial;
			float: initial;
			margin-bottom: initial;
			height: initial;

			.avatar {
				width: 90px;
				height: 90px;
				border-radius: 100%;
				margin-right: 1rem;
				border: 2px solid $color_fondo_lila;
			}
		}


	}

}
