.single-wcb_speaker {
	.speaker-avatar {
		img {
			width: 130px;
			height: auto;
			border-radius: 150px;
			border: 2px solid $color_fondo_lila;
		}
	}

	h1 {
		font-size: 40px;
		color: $color_fondo_lila;
	}

	.entry-content {
		p {
			margin-top: 1em;
		}

		.speaker-sessions {
			margin-top: 1em;
			margin-bottom: 1em;
			font-size: 30px;
			font-weight: bold;
		}

		#speaker-session-names {
			padding-left: 10px;

			a {
				color: $color_fondo_lila;
			}
		}
	}
}
